* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://picsum.photos/1366/768");
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sayac {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.start {
  background-color: red;
  font-size: 1rem;
  cursor: pointer;
}
.reset {
  background-color: blue;
  cursor: pointer;
}
button {
  width: 50px;
  margin: 0 8px;
  border-radius: 5px;
}
.stop {
  display: none;
}
